html, body {
    font-family: Nunito;
    font-size: 16px;
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #21be50;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #082210;
    font-weight:700;
    letter-spacing:-3px;
}

#site-title {
    font-size: 30px;
    margin-left:50px;
    line-height:27px;
    margin-top:20px;
    padding-bottom:20px;
    letter-spacing: -3px;
}

.tut-content {
    display: none;
}

#tut-button {
    font-size: 20px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #21be50;
    letter-spacing: -3px;
}
.tut-content a {
    display: block;
    text-decoration: none;
    font-size:20px;
    white-space: nowrap;
    color: #21be50;
}

.tut-content a:visited {
    color: #21be50;
}

.tut-content {
    position: absolute;
    top: 100%; 
    right: 0;
    z-index: 1;
    background-color: rgb(21, 21, 26);
    border-radius:5px;
    padding:5px;
}

.tutorials:hover .tut-content {
    display:block;

}
.tutorials {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 200px;
    font-size: 25px;
}

.page-title {
    color: #e5f3e5;
    font-size:50px;
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom:20px;
}

.page-content {
    margin-left: 50px;
    font-size:18px;
    color: #e5f3e5;
}

.tagline {
    color: #e5f3e5;
    font-size:75px;
    text-align: center;
    margin-top: 200px;
    padding-bottom:20px;
}

.lower-tagline {
    color: #e5f3e5;
    font-size:20px;
    text-align: center;
    margin-top: 0px;
    padding-bottom:20px;
}